- title = "Contact List for #{@user.name}"
- provide(:title, title)
%h1.sio-contact-list-title{data: {user_id: @user.id, token: @user.get_token}}
  = title

= react_component 'Messages', user: @user, sio_contacts: @sio_contacts, messages: @messages

= javascript_pack_tag 'application'
-# = stylesheet_pack_tag 'hello_react'
