- provide(:title, @user.name)
%h1 Skipio Assessment App
%h2 Users:
%ul.sio-user-list
  %li.sio-user-li
    = link_to user_path(@user.id), class: 'sio-user-a' do
      .sio-user-avatar
        = image_tag @sio_data[:avatar_image_url]
      .sio-user-name
        = @user.name
