//I've kept the layout and CSS really simple for the sake of the amount of time I have for the assessment.
.sio-user-list {
  list-style-type: none;
  .sio-user-li {
    padding: 10px;
    background: lightgray;
    .sio-user-a {
      padding: 5px;
      .sio-user-avatar {
        width: 80px;
        height: 80px;
        img {
          width: 100%;
        }
      }
      .sio.user-name {

      }
    }
  }
}
